@import "~react-toolbox/lib/globals";

.home {
  order: 0;
}

.searchField {
  order: 1;
  @media screen and (max-width: $layout-breakpoint-xxs) {
    order: 2;
  }
}

.nav {
  order: 2;
  @media screen and (max-width: $layout-breakpoint-xxs) {
    order: 1;
  }
  a {
    padding: 20px;
  }
}

